.headerToday{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(/public/img/bg-header.png);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    border-radius: 1.2rem;
    margin-top: 1rem;
    color: #fff;
}

.mediaTemp-today{
    font-weight: bold;
    font-size: 5.3rem;
    margin-top: -2rem;
}

.feelsLike{
    font-weight:normal;
    margin-top: -1rem;
}

img{
    height: 115px;
    width: 120px;
    margin-left: -1.2rem;
}

@media (min-width: 400px) {
    .headerToday img{
        min-height: 145px;
        min-width: 150px;
        margin-left: -1.2rem;
    }
}